.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    padding-top: 5px;
}

.icons img {
    height: 28px;
    margin-bottom: 5px;
}

.icons {
font-size: 10px;
 height: 74px;
 display: flex;
 flex-direction: column;
 justify-content: center;  
 align-items: center; 
 cursor: pointer;
}