

.thumbnail {
    width: 100%;
}
    
.title {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.author {
    font-size: 17px;
    margin-bottom: 0px;
}

.views {
    font-size: 16px;
    margin-top: 4px;
}


.videoinfogrid {
    display: grid;
    grid-template-columns: 50px 1fr;
}


.profilepicture {
    width: 40px;;
    border-radius: 50px;
}

.thumbnailrow {
    margin-bottom: 12px;
    position: relative;
}

.videotime {
    background-color: black;
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.videogrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}